//fonts
$font-heading: "Cantarell", sans-serif;
$font-body: "Prompt", sans-serif;

// colors
$light: rgb(255, 255, 255);
$danger: #ed1c24;
$secondary: #f8f9fa;
$light-gray: #c0c0c0;
$warning: #e5a445;
$primary: #3740ff;
$success: #3eb362;
$dark: #1b1f28;

.btn {
  padding: 1em !important;
}
