$font-heading: "Cantarell", sans-serif;
$font-body: "Prompt", sans-serif;
$light: white;
$danger: #c93c3c;
$secondary: rgb(48, 48, 111);
$primary: #2b3a5f;
$light-gray: #dadada;
$dark-gray: #c0c0c0;
$primary: #344c9c;

h2 {
  font-size: 2.5em !important;
}
