@media (min-width: 265px) {
  #hero-img {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  #hero-img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  #hero-figure {
    border-left: 1px solid $danger;
  }
  #hero-img {
    max-width: 50%;
  }
}
#caption {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 40%;
  max-width: 50%;
}
