* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  font-family: $font-body;
  position: relative;
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}
h1,
h2 {
  margin-bottom: 1rem;
}
#footer {
  background-color: $gray-900;
}
.hidden {
  display: none;
}
#dekk-felg {
  background-color: $gray-200;
}
