* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  font-family: $font-body;
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

html {
  scroll-behavior: smooth;
}
