* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
* > img {
  max-width: 100%;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  font-family: $font-body;
  position: relative;
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}
h1 {
  margin-bottom: 1.5rem !important;
  color: $gray-900;
}
h2 {
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.5rem;
  color: $gray-900;
  font-size: 2.5rem;
}

h2:before,
h2:after {
  background-color: $danger;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 7%;
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}
#footer {
  background-color: $gray-900;
}
@media (min-width: 265px) {
  .footer-img {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .footer-img {
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  .footer-img {
    max-width: 50%;
  }
}
.hidden {
  display: none;
}
#spinner {
  z-index: 10000;
  top: 250px;
  left: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: none;
}
